.hero {
  background-color: #cbc7c7;
  box-shadow: 5px 3px 5px #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: #2e3b58;
}

.hero p {
  font-size: 1rem;

  max-width: 600px;
  margin: 0 auto 20px auto;
}

.hero__search-container {
  margin-top: 20px;
}

.hero__search-input {
  width: 80%;
  max-width: 400px;
  padding: 12px 20px;
  border: 3px solid #4b6cb7;
  border-radius: 30px;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}

.hero__search-input:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(75, 108, 183, 0.5);
}
